openapi: 3.0.3
info:
  title: EKS MSA Portfolio API
  version: 1.0.0
  description: |
    Spring Cloud Gateway 기반 MSA API 문서.
    Gateway 라우팅 (prod-uri):
    - /ordering/**  -> ordering-service
    - /product/**   -> product-service
    - /member/**    -> member-service
    (또한 /ordering-service/**, /product-service/** 형태도 존재)

servers:
  - url: https://server.awskdy.click

tags:
  - name: common
    description: 공통
  - name: ordering
    description: 주문
  - name: product
    description: 상품

paths:
  /health:
    get:
      tags: [common]
      summary: Health check
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: ok2

  /ordering/create:
    post:
      tags: [ordering]
      summary: 주문 생성
      description: |
        OrderingController.orderCreate
        - Header: X-User-Id (required)
        - Body: OrderCreateDto (JSON)
      parameters:
        - name: X-User-Id
          in: header
          required: true
          schema:
            type: string
          description: 사용자 식별자(컨트롤러에서 필수로 요구)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateDto"
      responses:
        "201":
          description: Created (ordering id 반환)
          content:
            application/json:
              schema:
                type: integer
                format: int64

  /product/create:
    post:
      tags: [product]
      summary: 상품 생성
      description: |
        ProductController.productCreate
        - Header: X-User-Id (required)
        - Body: ProductRegisterDto
        주의: 코드에서 @RequestBody가 없어서 Spring MVC 기본 바인딩(폼 파라미터) 가능성이 큼.
      parameters:
        - name: X-User-Id
          in: header
          required: true
          schema:
            type: string
          description: 사용자 식별자(컨트롤러에서 필수로 요구)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ProductRegisterDto"
      responses:
        "201":
          description: Created (product id 반환)
          content:
            application/json:
              schema:
                type: integer
                format: int64

  /product/{id}:
    get:
      tags: [product]
      summary: 상품 상세 조회
      description: |
        ProductController.productDetail
        - Path: id
        - Header: X-User-Id (required)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: X-User-Id
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK (ProductResDto)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResDto"

  /product/updatestock:
    put:
      tags: [product]
      summary: 재고 수정
      description: |
        ProductController.updateStock
        - Body: ProductUpdateStockDto (JSON)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdateStockDto"
      responses:
        "200":
          description: OK (product id 반환)
          content:
            application/json:
              schema:
                type: integer
                format: int64

components:
  schemas:
    # DTO 필드 정의는 네가 DTO 클래스 코드를 안 줘서 확인할 수 없음.
    # 그래서 "object + additionalProperties: true"로 열어둠(문서가 깨지지 않게).
    OrderCreateDto:
      type: object
      additionalProperties: true
      description: OrderCreateDto (필드 구성은 코드 기준으로 확인 필요)

    ProductRegisterDto:
      type: object
      additionalProperties: true
      description: ProductRegisterDto (필드 구성은 코드 기준으로 확인 필요)

    ProductUpdateStockDto:
      type: object
      additionalProperties: true
      description: ProductUpdateStockDto (필드 구성은 코드 기준으로 확인 필요)

    ProductResDto:
      type: object
      additionalProperties: true
      description: ProductResDto (필드 구성은 코드 기준으로 확인 필요)
