openapi: 3.0.3
info:
  title: EKS MSA Portfolio API
  version: 1.0.0
  description: |
    Spring Cloud Gateway 기반 MSA API 문서.

    Gateway 라우팅 (prod-uri):
    - /ordering/**  -> ordering-service
    - /product/**   -> product-service
    - /member/**    -> member-service
    (또한 /ordering-service/**, /product-service/** 형태도 존재)

    참고:
    - 현재 Swagger 문서는 GitHub Pages로 호스팅됨.
    - 실제 서버가 비활성화된 경우 Try it out은 동작하지 않을 수 있음.

servers:
  - url: https://server.awskdy.click

tags:
  - name: common
    description: 공통
  - name: ordering
    description: 주문
  - name: product
    description: 상품

paths:
  /health:
    get:
      tags: [common]
      summary: Health check
      description: HealthController.healthCheck
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: ok2

  /ordering/create:
    post:
      tags: [ordering]
      summary: 주문 생성
      description: |
        OrderingController.orderCreate

        - Header: X-User-Id (required)
        - Body: OrderCreateDto (JSON)
        - Response: ordering id (Long)
      parameters:
        - name: X-User-Id
          in: header
          required: true
          schema:
            type: string
          description: 사용자 식별자(필수)
          example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateDto"
            example:
              productId: 1
              productCount: 2
      responses:
        "201":
          description: Created (ordering id 반환)
          content:
            application/json:
              schema:
                type: integer
                format: int64
                example: 100

  /product/create:
    post:
      tags: [product]
      summary: 상품 생성
      description: |
        ProductController.productCreate

        - Header: X-User-Id (required)
        - Body: ProductRegisterDto
        - Response: product id (Long)

        주의:
        - 코드에서 @RequestBody가 없어서 Spring MVC 기본 바인딩(폼 파라미터) 가능성이 큼.
      parameters:
        - name: X-User-Id
          in: header
          required: true
          schema:
            type: string
          description: 사용자 식별자(필수)
          example: "1"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ProductRegisterDto"
      responses:
        "201":
          description: Created (product id 반환)
          content:
            application/json:
              schema:
                type: integer
                format: int64
                example: 200

  /product/{id}:
    get:
      tags: [product]
      summary: 상품 상세 조회
      description: |
        ProductController.productDetail

        - Path: id
        - Header: X-User-Id (required)
        - Response: ProductResDto
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 상품 ID
          example: 1
        - name: X-User-Id
          in: header
          required: true
          schema:
            type: string
          description: 사용자 식별자(필수)
          example: "1"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResDto"
              example:
                id: 1
                name: "Keyboard"
                price: 30000
                stockQuantity: 10

  /product/updatestock:
    put:
      tags: [product]
      summary: 재고 수정
      description: |
        ProductController.updateStock

        - Body: ProductUpdateStockDto (JSON)
        - Response: product id (Long)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdateStockDto"
            example:
              productId: 1
              productQuantity: 5
      responses:
        "200":
          description: OK (product id 반환)
          content:
            application/json:
              schema:
                type: integer
                format: int64
                example: 200

components:
  schemas:
    OrderCreateDto:
      type: object
      required: [productId, productCount]
      properties:
        productId:
          type: integer
          format: int64
          description: 주문할 상품 ID
          example: 1
        productCount:
          type: integer
          format: int32
          description: 주문 수량
          example: 2

    ProductRegisterDto:
      type: object
      required: [name, category, price, stockQuantity]
      properties:
        name:
          type: string
          description: 상품명
          example: "Keyboard"
        category:
          type: string
          description: 카테고리
          example: "IT"
        price:
          type: integer
          format: int32
          description: 가격
          example: 30000
        stockQuantity:
          type: integer
          format: int32
          description: 초기 재고 수량
          example: 10

    ProductUpdateStockDto:
      type: object
      required: [productId, productQuantity]
      properties:
        productId:
          type: integer
          format: int64
          description: 재고 변경 대상 상품 ID
          example: 1
        productQuantity:
          type: integer
          format: int32
          description: 변경할 재고 수량(증감/절대값 여부는 서비스 로직 기준)
          example: 5

    ProductResDto:
      type: object
      required: [id, name, price, stockQuantity]
      properties:
        id:
          type: integer
          format: int64
          description: 상품 ID
          example: 1
        name:
          type: string
          description: 상품명
          example: "Keyboard"
        price:
          type: integer
          format: int32
          description: 가격
          example: 30000
        stockQuantity:
          type: integer
          format: int32
          description: 재고 수량
          example: 10
